@charset "UTF-8";

@font-face { font-family: 'Noto Sans KR', sans-serif; src: url('NotoSansKR-Regular.otf');
    /* font-family: 'NotoSans'; src: url('NotoSansKR-Regular.otf'); */
}

/* base */
*:focus {outline:none}
*::after{clear: both;}
.w2input_focus{outline:none}
header, footer, nav, section, article, aside, figure{display:block}
html,body,*, header, footer, nav, section, article, aside, figure{margin:0;padding:0;}
body{color:#000;font-style:normal;-webkit-text-size-adjust:none;
min-width: 1600px;
}/* -webkit-text-size-adjust:none 웹표준 검사에 오류로 표시 */
p,h1,h2,h3,h4,h5,h6,ol,dl,table,form,fieldset{margin:0;padding:0;display: inline;}
body,input,textarea,select,button,table{font-size:13px;font-family:"Malgun Gothic", "맑은 고딕", Verdana, dotum, Sans-serif;font-weight:normal;font-weight:400;letter-spacing:-0.015em;color:#222222;}
table{empty-cells:show}
caption,legend{display:none}
a img,img{vertical-align:top;}
img,fieldset{border:0}
ul,dl,dt,dd,ol {list-style:none;margin:0;padding:0;}
li{list-style:none}
ul li img {vertical-align:top}
em,address{font-style:normal}
button, input, textarea, select, .w2input,.w2textarea,.w2inputCalendar_divInput {font-family:Malgun Gothic, 맑은 고딕, Verdana, dotum, Sans-serif;font-size:14px;border-color:#dddddd;color:#222222;font-weight:normal;letter-spacing:-0.015em;}
span {display:inline-block}
p,em{margin:0;padding:0;}
caption{display:none;height:0;width:0;}
a{text-decoration:none;cursor:pointer; color: #0e0e0e;}
a:hover,a:active,a:visited,a:focus{}/* text-decoration:underline */
.foc{cursor: pointer;}

.mt10{margin-top: 10px !important;}
.mt20{margin-top: 20px !important;}
.mt30{margin-top: 30px !important;}
.mt40{margin-top: 40px !important;}


.fr{float: right !important;}
.fl{float: left !important;}
.flex{display: flex; align-items: center;}
.cb::after{content: ""; display: block; clear: both;}


.bg1{background: #f7f8fa;}
.bg2{background: #e5eef5;}
.bg3{background: #e9eef2;}
.blind{text-indent: -9999px;} 
.default_content_box{ padding: 30px 250px;}
.layout{margin-top: 20px; display:flex; align-items:flex-start;}
.layout>*{ height: auto;}
.layout_col{flex-grow:1;padding: 20px;margin:0;-moz-box-sizing:border-box;box-sizing:border-box;vertical-align:top;width:50%;border-radius: 7px;}
/* .layout_col:first-child{padding-left:0 !important;}
.layout_col:last-child{padding-right:0 !important;} */
.layout_col + .layout_col{margin-left: 20px;}

.inner_content{height: auto;}




.tit_box, .menu_box{margin: 20px 0;}
.tit_box::after{content: ""; display: block; clear: both;}
.tit_box .fr{margin-left: auto; display: flex; color: #5b5b5b; font-weight: 500;}
.tit_box .fr>*{padding: 0 4px;}
.tit_box .fr>*:last-child{padding-right: 0;}
*>:first-child{margin-top: 0;}



/* .con_box{}
.tab_box{}
.grd_box{} */


input{border: 1px solid #dadada; padding: 5px 10px; width: auto; box-sizing: border-box; border-radius: 5px; text-align: center;}
input.name{width: 80px;}
input.ju{width: 150px;}
input.text{width: 220px;}
input.calender{width: 120px;}

button{background: #3f91f7; width: 29px; height: 30px; border: none; border-radius: 5px; cursor:pointer;}











/* .btn_sch::after{content: "";display: block; background: url(../src/ico_sch.png) no-repeat 0 0; width: 100%; height: 100%;} */