@charset "UTF-8";

@font-face {font-family: 'Malgun Gothic';src: url('Malgun-Gothic_29381.ttf');}

/* base */
*:focus {outline:none}
.w2input_focus{outline:none}
header, footer, nav, section, article, aside, figure{display:block}
html,body,*, header, footer, nav, section, article, aside, figure{margin:0;padding:0;}
body{color:#000;font-style:normal;-webkit-text-size-adjust:none;
min-width: 1600px;
}/* -webkit-text-size-adjust:none 웹표준 검사에 오류로 표시 */
p,h1,h2,h3,h4,h5,h6,ol,dl,table,form,fieldset{margin:0;padding:0;display: inline;}
body,input,textarea,select,button,table{font-size:13px;font-family:"Malgun Gothic", "맑은 고딕", Verdana, dotum, Sans-serif;font-weight:normal;font-weight:400;letter-spacing:-0.015em;color:#222222;}
table{empty-cells:show}
caption,legend{display:none}
a img,img{vertical-align:top;}
img,fieldset{border:0}
ul,dl,dt,dd,ol {list-style:none;margin:0;padding:0;}
li{list-style:none}
ul li img {vertical-align:top}
em,address{font-style:normal}
button, input, textarea, select, .w2input,.w2textarea,.w2inputCalendar_divInput {font-family:Malgun Gothic, 맑은 고딕, Verdana, dotum, Sans-serif;font-size:14px;border-color:#dddddd;color:#222222;font-weight:normal;letter-spacing:-0.015em;}
span {display:inline-block}
p,em{margin:0;padding:0;}
caption{display:none;height:0;width:0;}

a{text-decoration:none;cursor:pointer; color: #0e0e0e;}
a:hover,a:active,a:visited,a:focus{}/* text-decoration:underline */












/* =============================== header ========================================== */
header{}
.head_top{position: relative; display: flex; justify-content: space-between;}
.head_top>a{font-size: 15px; font-weight: bold;}
/* .fr_menu{position: absolute; top: 0; right: 0;}
.fr_menu a, .fr_menu li{ color: #7a7a7a;}
.fr_menu ul{display: block}
.fr_menu ul li{display: inline-block; padding: 0 10px; position: relative; box-sizing: border-box;}
.fr_menu ul li::before{content: ""; display: block; width: 1px; height: 12px; background: #d6d6d6; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.fr_menu ul li:last-child{color: #000; background: #f7f7f7; border-radius: 10px; padding:2px 10px;}
.fr_menu ul li:last-child:before{display: none;}
.login_info{position: relative; font-weight: bold;}
.login_info img{position: absolute;}    
.login_info span{color: #a7a7a7;} */

.fr_menu{display: flex; align-items: center;}
.fr_menu div{padding: 0 10px; position: relative;}
.fr_menu div::after{content: ""; display: block; width: 1px; height: 12px; background: #d6d6d6; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.fr_menu div:last-child::after{display: none;}
.fr_menu .login_info{margin-left: 5px; padding: 3px 10px; background: #f7f7f7; border-radius: 20px; font-size: 12px;}
.login_info span{font-weight: bold;}
.login_info img{margin: 7px 0 0 3px;}

.gnb_box{display: flex; justify-content: space-between; height: 40px; line-height: 40px;}
.gnb_box .main_menu{}
.gnb_box .main_menu ul{}
.gnb_box .main_menu ul li{display: inline-block; padding-right: 40px;}
.gnb_box .main_menu ul li a{font-size: 17px; font-weight: bold;}
.gnb_box .gnb_right{display: flex; width: 300px; justify-content: space-between;}
.gnb_box .gnb_right .gnb_search{position: relative; padding: 0 150px 0 10px; color: #9fb1bf; background: #e5eef5; font-size: 14px; font-weight: bold; border-radius: 7px;}
.gnb_box .gnb_right .gnb_search::before{content: ""; display: block; background: url(../src/icon_search.png) no-repeat 0px 0px; width: 33px; height: 33px; position: absolute; top: 50%; right: 5px; transform: translateY(-50%);}
.gnb_box .gnb_right .gnb_setting{position: relative;}
.gnb_box .gnb_right .gnb_setting::before{content: ""; display: block; background: url(../src/icon_setting.png) no-repeat 0px 0px; width: 33px; height: 33px; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}
.gnb_box .gnb_right .all_list{position: relative;}
.gnb_box .gnb_right .all_list::before{content: ""; display: block; background: url(../src/icon_menu.png) no-repeat 0px 0px; width: 33px; height: 33px; position: absolute; top: 50%; right: 0; transform: translateY(-50%);}





.tab_bar{display: flex; border-bottom: 1px solid #e8e9eb;}
.tab_bar .tab_txt{padding: 5px 0; font-size: 14px; color: #5e5f5f; margin-left: 15px;}
.tab_bar .tab_txt:first-child{margin-left: 0;}
.tab_bar .tab_txt.on{color: #3f91f6; font-weight: bold; position: relative;}
.tab_bar .tab_txt.on::after{content: ""; display: block; width: 100%; height: 3px; background: #3f91f6; position: absolute; bottom: -2px; border-radius: 2px;}
.tab_bar span{margin-left: 5px; background: #a8b1b8; color: #fff; border-radius: 50%; width: 23px; height: 23px; line-height: 23px; text-align: center;}
.tab_txt.on span{background: #3f91f6;}

.plus{}


.tab_con .tab_con1 .tab_con_inner{display: flex; justify-content: space-between;}
.tab_con .tab_con1 .tab_con_inner>div{padding: 10px 15px; background: #fff; display: inline-block; width: 100%; margin-right: 10px; text-align: center; font-weight: bold; color: #393939; border-radius: 5px;}
.tab_con .tab_con1 .tab_con_inner>div:last-child{margin-right: 0;}
.tab_con .tab_con1 .tab_con_inner>div span{margin-left: 10px; font-size: 16px; color: #3f91f6;}
.tab_con .tab_con1 .tab_con_inner>div:last-child span{color: #d74338;}


.refrech{background: url(../src/btn_ico_fold_reset.png) no-repeat 0px 0px; width: 20px; height: 20px;}

.slide_btn{position: relative;}
.slide_btn::before{z-index: 1; content: "<"; display: block; width: 35px; height: 35px; line-height: 35px; font-weight: bold; background: #fff; border-radius: 50%; position: absolute; top: 50%; transform: translateY(-50%); left: -25px; text-align: center; box-shadow: 5px 5px 5px -5px grey; font-size: 25px; display: none;}
.slide_btn::after{z-index: 1; content: ">"; display: block; width: 35px; height: 35px; line-height: 35px; font-weight: bold; background: #fff; border-radius: 50%; position: absolute; top: 50%; transform: translateY(-50%); right: -25px; text-align: center; box-shadow: 5px 5px 5px -5px grey; font-size: 25px;}

.slide_contents{overflow: hidden; position: relative;}


.slide{position:relative;width: 1080px; height: 100%; padding-bottom: 10px;}
.slide::after{content: "";display: block;clear: both;}
.slide .con{float: left; background: #fff; margin-right: 15px; width: auto; height: 100px; padding: 10px; border-radius: 15px; box-shadow: 5px 10px 5px -3px #d4e5f6;}
.slide .con:last-child{margin: 0;}
.slide .con .con_img{margin: 0 auto;}
.slide .con .con_img img{width: 85px;}
.slide .con .con_txt{font-weight: bold; font-size: 14px; text-align: center; margin-top:10px;}

/* .slide_contents{position: relative; width: 100%; height: 120px;}
.slide_contents .slide{position: absolute; display: flex; height: 100%;}
.slide_contents .slide .con{position: relative; display: block; background: #fff; width: 100px; height: 120px; padding: 10px; margin: 0 10px; box-sizing: border-box; box-shadow: 5px 10px 5px -3px #d4e5f6; border-radius: 10px; font-weight: bold; font-size: 14px;}
.slide_contents .slide .con>span{position: absolute; bottom: 10px; display: inline-block; width: 100%;  left: 50%; transform: translateX(-25%);}

.con1{background: url(../src/ico_juvenile_protection.png) no-repeat -10px 0px; width: 95px; height: 80px;}
.con2{background: url(../src/ico_location_related.png) no-repeat -10px 0px; width: 95px; height: 80px;}
.con3{background: url(../src/ico_information_retrieval.png) no-repeat -10px 0px; width: 95px; height: 80px;}
.con4{background: url(../src/ico_care.png) no-repeat -10px 0px; width: 95px; height: 80px;}
.con5{background: url(../src/ico_case_management.png) no-repeat -10px 0px; width: 95px; height: 80px;}
.con6{background: url(../src/ico_prosecution.png) no-repeat -10px 0px; width: 95px; height: 80px;}
.con7{background: url(../src/ico_prosecution.png) no-repeat -10px 0px; width: 95px; height: 80px;}
.con8{background: url(../src/ico_prosecution.png) no-repeat -10px 0px; width: 95px; height: 80px;}
.con9{background: url(../src/ico_prosecution.png) no-repeat -10px 0px; width: 95px; height: 80px;} */



.main_contents_box .main_box_tit h3{font-size: 20px; color: #9ca0a3;}
.main_contents_box .main_box_tit h3.on{color: #000; position: relative;}
.main_contents_box .main_box_tit h3.on::after{content: ""; display: block; position: absolute; width: 100%; height: 3px; top: -30px; left: 0; background: #000; border-radius: 3px;}
.main_contents_box .main_box_tit h3+h3{margin-left: 40px;}

.main_contents_box .main_box_content.content1, .main_contents_box .main_box_content.content2{text-align: center; padding: 10px 20px;}




